# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Builds
dist/
build/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/

# Test results
test-results/